#nav{
  z-index: +2;
  position: sticky;
  top : 0 ;
  box-sizing:border-box;
  background-color: black ;
  text-align: center ;
  height: 50px;
  font-size: 20px;
}

.nav-li{
  box-sizing:border-box;
  text-align: center;
  display: inline ;
  color: white;
  float: left;
  padding: 13px 0px;
  width: 100px; 
  height: 50px;
}
.nav-li:hover{
  background-color: lightgrey;
}

.nav-li:active{
  background-color: green;
}
.nav-li.loggin{
  float: right;
}