 <div class="container">
<div class="row" style="padding: 10px">
				
		<div href="#" class="btn btn-info btn-lg" ng-click="showCuisine()">
		        Add cuisine  <span class="glyphicon glyphicon-plus-sign"></span> 
		</div>
	 	
	 	<div href="#" class="btn btn-info btn-lg" ng-click="showAddItem()" ng-show="isCusines()">
	        Add Item  <span class="glyphicon glyphicon-plus-sign"></span> 
	 	</div>

		<div href="#" class="btn btn-info btn-lg" ng-click="showAddTax()" ng-show="isCusines()">
	        Add Tax  <span class="glyphicon glyphicon-plus-sign"></span> 
	 	</div>

		<div href="#" class="btn btn-info btn-lg" ng-click="showLIT()" ng-show="isCusines()">
	        Link Item-Tax  <span class="glyphicon glyphicon-plus-sign"></span>
	 	</div>
			
			<div ng-show="showCuisineForm" add-cuisine >
			</div>
			<div ng-show="addItemForm" add-item >
			</div>

			<div ng-show="showTaxForm" add-tax >
			</div>

			<div ng-show="showLITForm" link-item-tax >
			</div>
	</div>
</div>
</div>

