
<form class="form-horizontal container">
	<h3>Sign Up Form</h3>
	<label >Name</label>
	<input class="form-control" type="text" name="name" ng-model="user.name">

	<label >Email</label>
	<input class="form-control" type="email" name="email" ng-model="user.email">

	<label >Role</label>
	<select class="form-control" ng-model="user.role">
		<option value="admin">Admin</option>
		<option value="user">User</option>
	</select>

	<label >Password</label>
	<input class="form-control" type="password" name="password" ng-model="user.password">
	<br>
	<button class="btn btn-primary btn-lg" ng-click="submit()">Submit</button>
	<!-- 
	<label class="form-control">Confirm Password</label>
	<input type="password" name="password"> 
	-->
</form>