<!-- 		<div class="container" style="overflow: scroll ; height: 580px">
<form class="form-horizontal container">
	
	<h3>Update Item </h3>
	<div class="form-group" style="max-width: 500px;">
	<label >Name</label>
	<input class="form-control" type="text" ng-model="item.name">
	</div>
	
	<div class="form-group" style="max-width: 500px;">
	<label >Price</label>
	<input class="form-control" type="number" ng-model="item.price">
	</div>

	<div class="form-group" style="max-width: 500px;">
	<label >Description</label>
	<input class="form-control" type="text" ng-model="item.description">
	</div>
	<div class="form-group">
	<label> Select cuisine</label>
	<select class="form-control" style="max-width: 200px;" ng-model="item.cuisineName">
	
		<option class="form-control" ng-repeat="c in cuisines" value="{{c.name}}">{{c.name}}</option>
	</select>
	</div>
	<div ng-repeat="i in item.customization">
		
		<div class="form-group" style="max-width: 500px;">
			<strong>Customization {{$index+1}}</strong><br>
			<label >Label</label>
			<input class="form-control" type="text" ng-model="item.customization[$index].label">
		</div>
		
		<div class="form-group" style="max-width: 100px;" >
			<label >Max Select</label>
			<input class="form-control" type="number" ng-model="item.customization[$index].max">
		</div>
		
		<div class="form-group" style="max-width: 100px;">
			<label >Min Select</label>
			<input class="form-control" type="number" ng-model="item.customization[$index].min">
		</div>
		<div ng-repeat = "o in item.customisation[$index].options">
		<strong>Option {{$index+1}} For customization {{$parent.$index+1}}</strong>
		<br>
		<div class="form-group" style="max-width: 100px;">
			<label >Name</label>
			<input class="form-control" type="text" ng-model="item.customization[$parent.$index].options[$index].name">
		</div>

		<div class="form-group" style="max-width: 100px;">
			<label >Price</label>
			
			<input class="form-control" type="number" ng-model="item.customization[$parent.$index].options[$index].price">
		</div>

		</div>

		<button class="btn btn-success" ng-click="increaseOptionLength($index)">Add More Options to customization {{$index+1}}</button><br><br>


	</div>
		<h3>Taxes</h3>
		<div ng-repeat = "t in item.taxes">
			<div class="form-group" style="max-width: 100px;">
			<label>Name</label>
			<input type="text" ng-model=" item.taxes[$index].name">
			</div>

			<div class="form-group" style="max-width: 100px;">
				<label>Type Of Tax</label>
				<select class="form-control" ng-model="item.taxes[$index].type">
					<option value="percent">Percent</option>
					<option value="fixed">Fixed</option>
				</select>
			</div>

			<div ng-if="item.taxes[$index].type=='percent'">
				<label>Percent</label>
				<input type="number" ng-model="item.taxes[$index].percent">
			</div>


			<div ng-if="item.taxes[$index].type=='fixed'">
				<label>Fixed</label>
				<input type="number" ng-model="item.taxes[$index].fixed">
			</div>

		</div>
	

	<button class="btn btn-success"  ng-click="increaseCustomizationLength()">Add Customization</button>
	
		<button class="btn btn-success"  ng-click="increaseTaxesLength()">Add Taxes 
		</button>
		<br><br>


	<button class="btn btn-primary btn-lg" ng-click="updateItem(item)" style="display: inline">Update</button>
	
	<button class="btn btn-danger btn-lg" ng-click="closeItem()" style="display: inline ;  right: 35px; ">Cancel Update</button>
	
	<br>
	<br>
</form>
</div> -->
Fuck Off